/*Parallax Code was modified from https://keithclark.co.uk/articles/pure-css-parallax-websites/*/

.parallax {
  perspective: 0px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

}

.parallaxgroup {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallaxgroup2 {
  position: relative;
  height: 50vh;
  transform-style: preserve-3d;
}


.parallaxlayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*Defining the layers for Parallax*/
/*Z-index determines order of importance*/
/*Tranzlate is used to move layer further away*/
/*Scale is to correct depth*/

.base {
  transform: translateZ(0);
  z-index: 4;
}

.back {  
  transform: translateZ(-1px) scale(2);
  z-index: 1;
}

.deep {
  transform: translateZ(-2px) scale(1);
  z-index: 2;
}
