/*
Google Font Notes: use 
	font-family: 'Quicksand', sans-serif;
*/


html, body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;	
	padding: 0;
	width: 100%;
	height: 100%;
}

p {
	text-align: center;
}

.landing {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("../images/background.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeinhello {
	color: #ffffff;
	font-size: 200px;
	margin: auto;
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 2s
}


.navbar {
	background-color: #7e4a35;
}

.navbar-p {
	text-align: center;
}

.coverphoto {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cab577;
	height: 500px;
}

.profilepic {
	display: block;
	margin: auto;
	border-radius: 50%;
	max-width: 450px;
	max-height: 450px;
}

.heading {
	margin: 20px;
	font-size: 80px;
}

.descript {
	margin-left: 20vh;
	margin-right: 20vh;
	font-size: 60px;
}

.projects {
	margin: 0;
	background-color: #838060;
}


